button#user-menu-button {
    width: 80px;
    height: 30px;
    background-color: white;
    padding-left: 24px;
    padding-top: 5px;
}

.menu h1 {
    font-weight: bold;
    font-family: revert;
}


.main {
    
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.menu {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}
.placeholder {
    margin-top: 80px;
    width: 500px;
    height: 500px;
    background-color: grey;
}
footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}



/*------------------------React Select styles (Nataliia)----------------*/
.select__multi-value {
    border-radius: 5px !important;
}
.select__multi-value__label {
    background-color: rgb(206, 206, 206);
    color: rgb(18, 18, 18) !important;
}

.select__menu {
    animation: scaleIn 0.3s ease-in-out;
}
@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

