

@font-face {
  font-family: "Chomsky";
  src: url("/src/font/Chomsky-8MOa2.otf");
}

header {
  border-top: solid 4px #DE667B;
  border-bottom:solid 2px #DE667B; 
 
 

}
button.btn.btn-light.text-green a {
  text-decoration: none;
}

h1 {
  font-family: "Chomsky";
}

button.btn.btn-light.text-green {
  border: 1px solid #5bc7a5;
  color: #5bc7a5;
}
/* for logIn and Logout button */
button#logoutBtn {
  border: 1px solid #5bc7a5;
  color: black;
  border: 10%;
  margin-left: 2rem;
  padding: 0.5rem;
}

h1.display-1.text-left {
  margin-left: 1rem;
}
header.d-md-flex.justify-content-between.align-items-center {
  margin: 0 3rem;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  margin: 0 3rem;
}

/* ****************Register Form********************** */
body{
  background-color: bisque;
}
div#login-box {
  width: 100%;
  height: 100%;
  background-color: bisque;
  padding: 1rem;
}
input#username {
  margin-bottom: 1rem;
  width: 50%;
 border-radius: 8px solid grey ;
 padding: 10px;
 height: 4rem;
  
}
input#email {
  margin-bottom: 1rem;
  border-radius: 8px solid grey ; 
  padding: 10px ;
  width: 50%;
  height: 4rem;
}
input#password {
  margin-bottom: 1rem;
  border-radius: 8px solid grey ;
  padding: 10px;
  width: 50%;
  height: 4rem;
  
}
input#signUp, #login {
  width: 50%;
  height: 40%;
  margin-bottom: 1rem;
  background-color: #5bc7a5;
  color: white;
  border: none;
  padding: 10px;

  

}
h1#or {
  text-align: center;
}
.left  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  background-color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 10px;
}
.right  {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  background-color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 2rem;
}
h4#socialmedia {
  margin-bottom: 2rem;
}
button.btn.btn-primary.facebook{
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #3b5998;
  border: none;
  padding: 10px;
}
button.btn.btn-primary.google {
  margin-bottom: 1rem;
  background-color: #dd4b39;
  border: none;
  padding: 10px;
}
button#facebook , #google{
  font-size: 18px;
}
i.fa-brands.fa-facebook-f {
  padding-right: 10px;
}
i.fa-brands.fa-google {
  padding-right: 10px;
}
